<%- include('./partials/headDetail') %>

    <nav>
        <ul>
            <a href="/method/<%= method.slug %>/beschrijving">
                <li>
                    <h2 class="h2-detail">Beschrijving</h2>
                </li>
            </a>
            </a>
            <li>
                <h2 class="bold">Stappenplan</h2>
            </li>
            </a>
            <a href="/method/<%= method.slug %>/voorbeelden">
                <li>
                    <h2 class="h2-detail">Voorbeelden</h2>
                </li>
            </a>
            <a href="/method/<%= method.slug %>/form?id=<%= method.id %>">
                <li>
                    <h2 class="h2-detail">Feedback</h2>
                </li>
            </a>
        </ul>
    </nav>
    </section>

    <img class="template-url" src="<%= method.template?.url %>" alt="">

    <section class="flex-s">
        <section class="full-b">
            <section class="tags-b">
                <img class="icon" src="/assets/icon1.svg" alt="">
                <% method.categories.forEach(category=> { %>
                    <h2 class="tag">
                        <%= category?.title %>
                    </h2>
                    <% }) %>
            </section>

            <section class="tags-b">
                <img class="icon" src="/assets/icon2.svg" alt="">
                <h2 class="tag">
                    <%= method.material %>
                </h2>
            </section>

            <section class="tags-b">
                <img class="icon" src="/assets/icon3.svg" alt="">
                <h2 class="tag">
                    <%= method.duration %>
                </h2>
            </section>

            <section class="tags-b">
                <img class="icon" src="/assets/icon4.svg" alt="">
                <h2 class="tag">
                    Marco:)
                </h2>
            </section>

            <section class="columntag">
                <section class="tags-b">
                    <% method.steps.forEach(step=> { %>
                        <% if (step.title=="Stap 1" ) {%>
                            <h2 class="tag">
                                <%= step.title %>
                            </h2>
                            <% } %>
                                <% }) %>
                </section>

                <section class="tags-b">
                    <% method.steps.forEach(step=> { %>
                        <% if (step.title=="Stap 2" ) {%>
                            <h2 class="tag-hollow">
                                <%= step.title %>
                            </h2>
                            <% } %>
                                <% }) %>
                </section>

                <section class="tags-b">
                    <% method.steps.forEach(step=> { %>
                        <% if (step.title=="Stap 3" ) {%>
                            <h2 class="tag-hollow">
                                <%= step.title %>
                            </h2>
                            <% } %>
                                <% }) %>
                </section>

                <section class="tags-b">
                    <% method.steps.forEach(step=> { %>
                        <% if (step.title=="Stap 4" ) {%>
                            <h2 class="tag-hollow">
                                <%= step.title %>
                            </h2>
                            <% } %>
                                <% }) %>
                </section>

                <section class="tags-b">
                    <% method.steps.forEach(step=> { %>
                        <% if (step.title=="Stap 5" ) {%>
                            <h2 class="tag-hollow">
                                <%= step.title %>
                            </h2>
                            <% } %>
                                <% }) %>
                </section>

                <section class="tags-b">
                    <% method.steps.forEach(step=> { %>
                        <% if (step.title=="Stap 6" ) {%>
                            <h2 class="tag-hollow">
                                <%= step.title %>
                            </h2>
                            <% } %>
                                <% }) %>
                </section>
            </section>

            <section class="step">
                <h3>
                    Stap 1 - De titel
                </h3>
            </section>

            <section>
                <% method.steps.forEach(step=> { %>
                    <% if (step.title=="Stap 1" ) {%>
                        <h3 class="description">
                            <%- step.description.html %>
                        </h3>
                        <% } %>
                            <% }) %>
            </section>
        </section>
    </section>
    </main>
    </body>

    <%- include('./partials/foot') %>